{
    "extends": [
        "airbnb-typescript",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "comma-dangle": 0,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    },
    "plugins": [
        "prettier",
        "eslint-plugin-import",
        "eslint-plugin-jsx-a11y",
        "eslint-plugin-react",
        "eslint-plugin-react-hooks"
    ]
}
