{
    "extends": [
        "airbnb-typescript",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "comma-dangle": 0
    },
    "plugins": [
        "eslint-plugin-import",
        "eslint-plugin-jsx-a11y",
        "eslint-plugin-react",
        "eslint-plugin-react-hooks"
    ]
}
