node_modules
dist
build

lib
coverage
videos
screenshots

secrets.json

*.en
*.log
*.code-workspace
*.env
*.traineddata

report.*.json

.docusaurus
.cache-loader

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
