# developer as default codeowners
*                   @Owner @Maintainer @Developer @Reporter @Guest

# protected ci relevant files
cli/**/*            @Owner @Maintainer
config/**/*         @Owner @Maintainer
deployment/**/*     @Owner @Maintainer
infrastructure/**/* @Owner @Maintainer
.dev-env.Dockerfile @Owner @Maintainer
.gitlab-ci.yml      @Owner @Maintainer
.eslintrc.js        @Owner @Maintainer
.prettierrc.js      @Owner @Maintainer