# developer as default codeowners
*                   @Developer

# protected ci relevant files
cli/**/*            @Maintainer
config/**/*         @Maintainer
deployment/**/*     @Maintainer
infrastructure/**/* @Maintainer
.dev-env.Dockerfile @Maintainer
.gitlab-ci.yml      @Maintainer
.eslintrc.js        @Maintainer
.prettierrc.js      @Maintainer