@page "/events/statistics"

<PageTitle>Statistics</PageTitle>

<h1>Statistics</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenButton Text="@text"></RadzenButton>

@code {
  string text = "Hi";
}