@page "/people"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenButton Text="@text"></RadzenButton>

@code {
  string text = "Hi";
}